.appBar {
    position: absolute;
    width: 1375px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #efefef;

  }
  
  .navbarContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }  
  
  .navbarLink {
    text-decoration: none;
    color: #27374D;
  }

  .buttonContainer {
    display: flex;
  }
  
  .loginButton {
    background: linear-gradient(90deg, #7F04FD 0%, #E748D4 100%);
    width: 100px;
    border-radius: 20px;
  }
  
  .settingsButton {
    background: #E0E0E0;
    width: 55px;
    border-radius: 20px;
  }
  
  .buttonLink {
    text-decoration: none;
    color: inherit;
  }
  
  .modalContainer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
  }

  .setmode{
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .icons {
    margin-right: 8px;
  }

  .setspan{
    display: flex;
    align-items: center;
  }

  .batas{
    border-bottom: 2px solid #404040;
  }

  @media (max-width: 600px) {
    .appBar {
      width: 100%;
      max-width: 100%;
      left: 0;
      top: 0;
      transform: none;
      border-radius: 0;
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    }

    .navbarContainer {
        display: none;
      }
    .buttonContainer {
        margin-left: auto;
    }
    .buttonContainer1 {
        display: none;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    .appBar {
      width: 100%;
      max-width: 100%;
      left: 0;
      top: 0;
      transform: none;
      border-radius: 0;
      box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    }
    .navbarContainer {
      display: none;
    }
  .buttonContainer {
      margin-left: auto;
  }
  }