.custom-card {
    width: 400px;
    height: 100%;
    border: 4px solid;
    border-image-source: linear-gradient(180deg, #8909F8 0%, #E043D6 100%);
    border-image-slice: 1;
    box-shadow: 0 0 15px rgba(137, 9, 248, 0.5);
}
.custom-card2 {
    width: 400px;
    height: 100%;
    margin-left: auto;
    border: 4px solid;
    border-image-source: linear-gradient(180deg, #8909F8 0%, #E043D6 100%);
    border-image-slice: 1;
    box-shadow: 0 0 15px rgba(137, 9, 248, 0.5);
}
.peta-jalan {
  text-align: center;
  color: #8909F8;
}
.myClassName {
  margin: auto 0px;
}

.mygambar {
  width: 400px;
  height: auto;
}

.my-timeline-connector {
  background: linear-gradient(180deg, #8A0AF8 0%, #DB40D8 100%);
}

@media (max-width: 600px) {

  .myClassName {
    display: none;
  }
  .custom-card2 {
margin-left: none;
width: 300px;
text-align: left;
  }

  .custom-card {
    width: 300px;

  }


  .separator {
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
}
}
@media (min-width: 601px) and (max-width: 1024px) {
  .separator {
    position: absolute;
    left: 0;
    transform: translateX(-40%);
    height: 100%;
    width: 2px;
}
.myClassName {
  display: none;
}
.custom-card2 {
  width: 400px;
}
  
.custom-card {
  width: 400px;
  text-align: right;
}
}

@media (max-width: 360px) {
  .custom-card2 {

    width: 260px;
  }
  .custom-card {
    width: 260px;

  }
}

@media (max-width: 400px) {
  .custom-card2 {
    margin-left: 10%;

  }
}


