.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
}

.faq {
  background-color: #FFF4EB;
}

.faq h1 {
margin-bottom: 40px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 77px;
color:  #8708F9 ;

}

.accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(90deg, #8D0CF7 0%, #E144D5 100%);

}

.left-section-container,
.right-section-container {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 0 20px;
}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.your-custom-classname {
  padding: 13px;
}
.sumary{
  background: linear-gradient(90deg, #8D0CF7 0%, #E144D5 100%);
}
.accordion-header:hover {
  background-color: #f5f5f5;
}

.accordion-button {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: left;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.accordion-button.collapsed::after {
  content: '';
  float: right;
}

.accordion-button:not(.collapsed)::after {
  content: '';
  float: right;
}

.accordion-collapse {
  background: linear-gradient(90deg, #8D0CF7 0%, #E144D5 100%);
  padding: 16px;
  transition: max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.accordion-collapse.show {
  max-height: 500px; 
}

.accordion-body {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .accordion-item {
    width: 90%; 
  }
  .faq-container{
    justify-content: center;
    margin-left: 5%;
  }
  .your-custom-classname{
    height: 50px;
  }
  }


@media (max-width: 600px) {
  .accordion-item {
    width: 90%; 
  }
  .faq-container{
    justify-content: center;
    margin-left: 10% !important;  
  }
}

@media (max-width: 1024px) {
  .accordion-item {
    width: 90%; 
  }
  .faq-container{
    justify-content: center;
    margin-left: 5%;
  }
  .your-custom-classname{
    height: 50px;
  }
}